<div class="quote">
  <blockquote><%= quote.body %></blockquote>
  <div class="meta">
    <%= quote.author_name%><%= quote.author_description? ? ", " : " " %>
    <%= quote.author_description %>
  </div>
  <div class="posted-date">
    <%= link_to(quote.created_at.strftime("%b, %d, %Y"), quote_path(quote)) %>
  </div>
</div>